<div class="row">
<form id="regexpForm" method="POST" action="/add">
  <div class="form-group">
    <label for="exampleInputFristName">Frist name : </label>
    <input type="text" class="form-control" id="exampleInputFristName" placeholder="Frist name" name="frist_name">
  </div>
  <div class="form-group">
    <label for="exampleInputLastName">Last name : </label>
    <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last name" name="last_name">
  </div>
  <div class="form-group">
    <label for="exampleInputNumber" class="control-label">Number : </label>
    <input type="text" class="form-control" id="exampleInputNumber" placeholder="Number" name="telephone_number">
  </div>
  <button type="submit" class="btn btn-success btn-lg">Add</button>
</form>
</div>
<script type="text/javascript" src="../public/js/validate.js"></script>