	<div class="row">
		<h2>{{ state }}</h2>
	</div>
	<div class="row">
	<div id="entries">
	<input  class="search form-control" placeholder="Search for...">
			<ul class="list list-group">
			{{#each entries}}
				 <li class="list-group-item">
  					<p class="frist_last">{{this.frist_name}} {{this.last_name}}</p>
    				<p class="number">{{this.telephone_number}}</p>
    				<a href="/edit/{{this._id}}">edit</a>
  				</li>
  				{{else}}
  					<h2>No elements</h2>
  			{{/each}}
			</ul>
	</div>		
	</div>
	<script type="text/javascript">
		var options = {
  			valueNames: [ 'frist_last', 'number' ]
		};
		var userList = new List('entries', options);
	</script>


